addict
cython
numpy
Pillow
pyyaml
regex;sys_platform=='win32'
yapf
ffmpeg-python
pandas
tables
h5py
coverage
lmdb
pytest
PyTurboJPEG
open3d
trimesh
gymnasium
shapely
transforms3d
sorcery
psutil
opencv-python
tensorboard
tabulate
rtree
GitPython
pynvml
kubernetes
pynput
sqlalchemy
docker
crc32c
pypi-simple
numpy-quaternion
termcolor
pymeshlab
plyfile
einops
ninja
pytorch3d
deprecation
