addict
cython
numpy
Pillow
pyyaml
regex;sys_platform=='win32'
yapf
ffmpeg-python
pandas
tables
h5py
coverage
lmdb
pytest
PyTurboJPEG
open3d
trimesh
gym==0.19.0
shapely
transforms3d
sorcery
psutil
opencv-python
tensorboard
tabulate
rtree
GitPython
pynvml
kubernetes
pynput
sqlalchemy
docker
crc32c
pypi-simple
numpy-quaternion
scikit-image==0.18.3
termcolor
pymeshlab
plyfile
einops
ninja
pytorch3d
